{% block page_content %}
    {% form_theme form 'widget/fields-block.html.twig' %}
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Création Proprio</h5>
        <div class="btn btn-icon btn-sm  ms-2" data-bs-dismiss="modal" aria-label="Close">
            <span class="svg-icon svg-icon-2x text-white">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
					<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
				</svg>
            </span>
        </div>
    </div>
    {{ form_start(form, {'attr': {'role':'form', 'class': 'form'}}) }}
    <div class="modal-body content-doc">
        {{ include('_includes/ajax/response.html.twig') }}
       
        <div id="kt_content_container" class=" container-xxl ">
           
        
            <!--begin::Row-->
            <div class="row g-5 g-xl-8">
                <!--begin::Col-->
                <div class="col-xl-6">
        
                    <!--begin::Tables Widget 3-->
                    <div class="card card-xl-stretch mb-xl-8">
                        <!--begin::Header-->
                        <div class="card-header border-0 pt-5">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label fw-bold fs-3 mb-1">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Des dossiers</font>
                                    </font>
                                </span>
                            </h3>
                            
                        </div>
                        <!--end::Header-->
        
                        <!--begin::Body-->
                        <div class="card-body py-3">
                            <!--begin::Table container-->
                            ->add('nomPrenoms')
                            ->add('contacts')
                            ->add('email')
                            ->add('addresse')
                            ->add('numCni')
                            ->add('Cni', FichierType::class,
                            [
                            /* 'label' => 'Fichier',*/
                            'label' => 'Cni',
                            'doc_options' => $options['doc_options'],
                            'required' => $options['doc_required'] ?? true,
                            'validation_groups' => $options['validation_groups'],
                            ])
                            ->add('nomPere')
                            ->add('nomMere')
                            ->add('whatsApp')
                            ->add('dateNaiss',DateType::class, [
                            'attr' => ['class' => 'datepicker no-auto skip-init']
                            , 'widget' => 'single_text'
                            , 'format' => 'dd/MM/yyyy',
                            'label'=>false
                            , 'empty_data' => date('d/m/Y')
                            , 'required' => false
                            , 'html5' => false
                            ])
                            ->add('lieuNaiss')
                            ->add('prefession')
                            ->add('dateCni',DateType::class, [
                            'attr' => ['class' => 'datepicker no-auto skip-init']
                            , 'widget' => 'single_text'
                            , 'format' => 'dd/MM/yyyy',
                            'label'=>false
                            , 'empty_data' => date('d/m/Y')
                            , 'required' => false
                            , 'html5' => false
                            ])
                            {{ form_widget(form) }}
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label class="sr-onl" for="userinput1">
                                        Date création*
                                    </label>
                                    {{ form_widget(form.dateCreation) }}
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="sr-onl" for="userinput1">
                                        Directeur général*
                                    </label>
                                    {{ form_widget(form.Directeur) }}
                                </div>
                            </div>


                        </div>
                        <!--begin::Body-->
                    </div>
                    <!--end::Tables Widget 3-->
                </div>
                <!--end::Col-->

                <!--begin::Col-->
                <div class="col-xl-6">
                
                    <!--begin::Tables Widget 3-->
                    <div class="card card-xl-stretch mb-xl-8">
                        <!--begin::Header-->
                        <div class="card-header border-0 pt-5">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label fw-bold fs-3 mb-1">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Des dossiers</font>
                                    </font>
                                </span>
                            </h3>
                
                        </div>
                        <!--end::Header-->
                
                        <!--begin::Body-->
                        <div class="card-body py-3">
                            <!--begin::Table container-->
                            
                        </div>
                        <!--begin::Body-->
                    </div>
                    <!--end::Tables Widget 3-->
                </div>
                <!--end::Col-->
        
                
            </div>
            <!--end::Row-->
        
            
        
        
        
        
        </div>
    </div>
    <div class="modal-footer">
        {# {{ include('_includes/ajax/loader.html.twig') }} #}
        <button type="button" class="btn btn-default btn-sm" data-bs-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-main btn-ajax btn-sm"><span class="spinner-border d-none  spinner-ajax spinner-border-sm" role="status" aria-hidden="true"></span> Valider</button>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block java %}
    <script>
        $(function () {
            init_select2('select');
        });
        $(function () {
            init_select2('select', null, '.content-doc');
        });
        $('.no-auto').each(function () {
            const $this = $(this);
            const $id = $('#' + $this.attr('id'));
            init_date_picker($id,  'down', (start, e) => {
                //$this.val(start.format('DD/MM/YYYY'));
            }, null, null, null);

            $id.on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY'));
            });
        });

    </script>
{% endblock %}