
<div class="modal-body modal-body-certificat p-3">

    <div class="row">

        <div class="col-sm-12">
            <div id="grid_app_comptabilte_ligneversementfrais" class="grid-dt-wrapper"
                data-bs-reflech="{{ path('app_comptabilte_ligneversementfrais_index', {'idR': id}) }}">Chargement....</div>
        </div>
    </div>

</div>
{# <div class="modal-footer">


</div> #}





{% block java %}
<script src="{{ asset('assets/js/datatables.js') }}"></script>
<script>

    $(function () {
        $('#grid_app_comptabilte_ligneversementfrais').initDataTables({{ datatable_settings(datatable) }}, {
        searching: true,
        ajaxUrl: "{{ path('app_comptabilte_ligneversementfrais_index', {'idR': id}) }}",
        language: {
            url: asset_base_path + "/js/i18n/French.json"
        },
        "fnDrawCallback": function (oSettings) {
            var scriptElement = document.createElement('script');
            scriptElement.src = "{{ asset('/assets/scripts/admin-stacketd.js') }}";
            // Attacher le script à la fin du <body> de la page
            document.body.appendChild(scriptElement);
        }
    });

            
        });
  $(function () {
	  var elements = Array.from(document.querySelectorAll("[data-bs-stacked-modal]"));

            if (elements && elements.length > 0) {
                elements.forEach((element) => {
                    if (element.getAttribute("data-kt-initialized") === "1" ) {
                        return;
                    }

                    const url = element.getAttribute('href');
                    element.setAttribute("data-kt-initialized", "1");


                    element.addEventListener("click", function(e) {
                        e.preventDefault();

                        const modalEl = document.querySelector(this.getAttribute("data-bs-stacked-modal"));

                        if (modalEl) {
                            const modal = new bootstrap.Modal(modalEl);
                            modal.show(element);
                        }
                    });
                });
            }

})

</script>
{% endblock %}